.wrapper{
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.container{
    padding: 0px 150px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    @include mobile{
        flex-direction: column;
        padding: 0px 20px;
        width: 100%;
    }
}
@for $i from 0 to 12 {
    
    .col-#{$i + 1}{
        width: calc(100% / #{$i + 1});
        @include mobile{
            width: 100%;
        }
    }
}
@for $i from 0 to 10 {
    @include mobile{
        .sm-order-#{$i + 1}{
            order: #{$i + 1};
        }
    }
}

@for $i from 0 to 99 {
    
    .mt-#{$i + 1}{
        margin-top: #{$i + 1}px;
        
    }
    .mr-#{$i + 1}{
        margin-right: #{$i + 1}px;
    }
    .ml-#{$i + 1}{
        margin-left: #{$i + 1}px;
    }
    .mb-#{$i + 1}{
        margin-bottom: #{$i + 1}px;
        // @include mobile{
        //     margin-bottom: #{($i + 1)/2}px;
        // }
    }
    .m-#{$i + 1}{
        margin: #{$i + 1}px;
    }
    .pt-#{$i + 1}{
        padding-top: #{$i + 1}px;
    }
    .pr-#{$i + 1}{
        padding-right: #{$i + 1}px;
    }
    .sm-pr-#{$i + 1}{
        padding-right: 0px;
    }
    .pl-#{$i + 1}{
        padding-left: #{$i + 1}px;
    }
    .pb-#{$i + 1}{
        padding-bottom: #{$i + 1}px;
    }
    .p-#{$i + 1}{
        padding: #{$i + 1}px;
    }
}
