.home{
    &__1{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        @include mobile{
            padding-top: 50px;
            img{
                width: 90%;
                margin-top: 50px;
            }
        }
    }
    &__2{
        min-height: 100vh;
        background-color: $body;
        @include mobile{
            padding-top: 50px;
            padding-bottom: 50px;
            img{
                width: 90%;
                margin-top: 50px;
            }
        }
        ul{
            li{
                width: 100%;
                display: flex;
                align-items: center;
                line-height: 20px;
                margin-bottom: 20px;
                img{
                    width: 21px;
                    margin-right: 20px;
                }
            }
        }
    }
    &__3{
        min-height: 100vh;
        background-color: $primary;
        padding: 30px 0px;
        color: $text_1;
        &__left{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding: 20px 0px;
        }
        &__heading{
            width: 33%;
            margin: auto;
            @include mobile{
                width: 100%;
            }
            h2{
                //styleName: Heading / H2;
                font-size: 48px;
                font-weight: 800;
                line-height: 64px;
                letter-spacing: 0em;
                text-align: center;
                color: $text_1;
                @include mobile{
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
    }
    &__4{
        padding: 30px 0px 160px;
    }
    &__5{
        background: $body_3;
        padding: 55px 0px;
        position: relative;
        @include mobile{
            padding: 33px 0px;
        }
        &__center{
            min-height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0px auto;
            @include mobile{
            }
            h2{
                font-style: normal;
                font-weight: 800;
                font-size: 45px;
                line-height: 64px;
                text-align: center;
                color: $text_3;
                margin-bottom: 16px;
                @include mobile{
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            p{
                width: 60%;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 35px;
                text-align: center;
                color: $text_2;
                margin-bottom: 63px;
                @include mobile{
                    width: 100%;
                }
            }
        }
        &__img1{
            position: absolute;
            width: 200px;
            height: 230px;
            left: 0px;
            top: 0px;
            @include mobile{
                width: 70px;
                height: 80px;
            }
        }
        &__img2{
            position: absolute;
            width: 270px;
            height: 143px;
            right: -6px;
            bottom: 0;
            @include mobile{
                width: 100px;
                height: 50px;
            }
        }
    }
}

.works{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: $text_2;
    @include mobile{
        width: 100%;
    }
    h2{
        color: $secondary;
        font-size: 48px;
        line-height: 70px;
        margin-bottom: 16px;
        @include mobile{
            font-size: 38px;
            line-height: 40px;
        }
    }
    h3{
        font-weight: 400;
        margin-bottom: 32px;
        @include mobile{
            margin-bottom: 0px;
        }
    }
}