$primary: #002B2B;
$secondary: #00A3A3;
$sec_ter: #00FFFF;
$highlights: #FFFF00;
$color_white: #FFFFFF;
$text_1: #FFFFFF;
$text_2: #333333;
$text_3: #00A3A3;
$body: #FCFEFF;
$body_2: #F3FFFF;
$body_3:#D2EFFA;


$mobile: 460px;
$tablet: 1007px;